 @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Playfair+Display:wght@400;500;700&display=swap');

 :root {
    --black: #282828;
    --accent: #998431;
    --white: #FFF;
    --lightgrey: #D3D3D3;
 }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 13px;
    font-family: Montserrat, sans-serif;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

/*.container {
    min-height: 100vh;
    width: 100%;
} 
/* Hero Section */
#hero {
    background-image: url(./img/bgc.png);
    background-size: cover;
    background-position: top center;
    background: linear-gradient(180deg, #282828 0%, rgba(40, 40, 40, 0.00) 100%), url(<path-to-image>), lightgray 0px -98.901px / 100% 142.222% no-repeat, #EDEDED;
    
}

#hero .hero {
    height: 100vh;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: center;
    position: relative;
}

#hero .hero-top {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#hero .hero-top p {
    color: white;
    font-size: 13px;
    font-weight: 500;
    display: inline;
    padding-top: 30px;
    padding-left: 15px;
    
}

#hero .hero-top p:nth-child(2) {
    padding-right: 5px;
        
}

#hero .main-menu {
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#hero .main-menu ul {
    list-style: none;
    padding-top: 20px;
    position: initial;
    display: block;
    height: auto;
    
    background-color: transparent;
}

#hero .main-menu ul li {
    color: white;
    display: inline;
    list-style-type: none;
    padding:10px;
    padding-right:110px;
    padding-left:110px;
    border:1px solid white;
    margin: 0;
}

#hero .main-menu li:nth-child(1){
  border-left:none;
}

#hero .main-menu ul li:nth-child(4){
  border-right:none;
}


#hero .main-menu ul li a {
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
    text-align: center;
    color: white;
    display: inline-block;
}

#hero .hero-bottom {
    width: 1200px;
    display: inline-flex;
    padding: 15px 30px;
    justify-content: center;
    align-items: center;
    gap: 30px;
    position: absolute;
    bottom: 110px;
}
    
#hero .hero-bottom a {
    color: var(--white);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    background: #99862A;
    padding: 15px 30px;
}
/* End Hero Section */
/* Text section */
#text .text {
    height: 850px;
    width: 100%;
    background-color: var(--black);
}
#text .text-items {
    width: 1110px;
    height: 655px;
    margin: 0 auto;
    border: 3px solid #C4C4C4;
    position: relative;
    top: 100px;
}

#text .text-items h1 {
    text-align: center;
    font-family: Playfair Display;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    color: white;
    padding-top: 60px;
    padding-bottom: 40px;
}

#text .line {
    height: 1px;
    width: 160px;
    border: 1px solid var(--white);
    margin: 0 auto;
}

#text p {
    width: 733px;
    justify-content: center;
    margin: 0 auto;
    color: var(--white);
    text-align: center;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    padding-top: 40px;
}

#text .img {
    width: 160px;
    height: 160px;
    margin: 0 auto;
    padding-top: 50px;
}
/* End Text section */
/* Collection section */
#collection .collection {
    flex-direction: row;
    text-align: center;
    margin: 0 auto;
    padding: 80px 0;
    background: #E6E3C4;
    display: block;
}

#collection .container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1110px;
    height: 880px;
    margin: 0 auto;
    border-top: 2px solid var(--accent);
    border-bottom: 2px solid var(--accent);
    
}

#collection .col-left { 
    width: 445px;
    height: 880px;
    padding-right: 125px;
}

#collection .col-right {
    width: 100%;
    text-align: right;
}

#collection .col-left .title {
    color: #000;
   font-family: Montserrat;
   font-size: 16px;
   font-weight: 400;
   text-align: left;
   padding-top: 60px;
   padding-bottom: 30px;
}

#collection .col-left h2 {
    color: var(--black);
    font-family: Playfair Display;
    font-size: 36px;
    font-weight: 700;
    line-height: 150%;
    text-align: left;
    padding-bottom: 30px;
}

#collection .col-left .line {
    height: 1px;
    width: 160px;
    border: none;
    color: var(--black);
    background-color: var(--black);
}

#collection .col-left .text {
    width: 445px;
    color: var(--black);
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
    text-align: left;
    padding-top: 30px;
    padding-bottom: 30px;
}

#collection .col-left table {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 445px;
    border-spacing: 0;
}

#collection .col-left table .year {
    color: var(--black, #282828);
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
    padding: 26px 24px;
    text-align: center;
    border-right: 1px solid var(--black);
    border-bottom: 1px solid var(--black);
    border-collapse: collapse;  
}

#collection .col-left table tr:last-child .year{
    border-bottom: none;
}

#collection .col-left tbody .info { 
    padding: 10px 37px 15px 30px;
    text-align: left;
    border-bottom: 1px solid var(--black);
}

#collection .col-left tbody tr:last-child .info {
    border-bottom: none;
}

#collection .col-left table h1 {
    color: var(--black, #282828);
    font-family: Playfair Display;
    font-size: 18px;
    font-weight: 700;
    line-height: 150%; 
    width: 303px;
    padding-bottom: 5px;
}

#collection .col-left .collection-button {
   width: 445px;
   text-align: left;
}

#collection .col-left .cta {
    color: var(--white);
    text-align: center;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.8px;
    text-transform: uppercase;
     text-decoration: none;
    display: inline-flex;
    padding: 15px 30px;
    background: var(--accent);
}

#collection .col-right img {
    width: 540px;
    height: 758px;
}
/* End Collection section */
/* Form section */
#form .form {
    width: 100%;
    height: 767px;
    background-color: var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#form .form-container {
    width: 1110px;
    height: 538px;
    margin: 0 auto;
    border: 3px solid #C4C4C4;
    position: relative;
}

#form .heading h2 {
    font-family: Playfair Display;
    font-size: 36px;
    font-weight: 700;
    color: var(--white);
    background-color: var(--black);
    padding: 10px 50px;
    position: absolute;
    top: -35px;
    left: 310px;
}

#form .heading .line {
    height: 1px;
    width: 118px;
    border: none;
    color: var(--white);
    background-color: var(--white);
    margin: 0 auto;
    margin-top: 65px;
}

#form .heading p {
    width: 539px;
    color: var(--white);
    text-align: center;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    padding-top: 40px;
    margin: 0 auto;
}

#form .heading .img-grape {
    height: 260px;
    width: 260px;
    position: absolute;
    top: -70px;
    left: -30px;
}

#form .heading .img-barrel {
    height: 200px;
    width: 260px;
    position: absolute;
    top: -65px;
    right: -53px;
}

#form .myform {
    padding-top: 80px;
    width: 540px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-family: Montserrat;
    font-size: 13px;
    font-weight: 500;
    line-height: 150%; 
}

#form .input-field {
    color: var(--white, #FFF);
    font-family: Montserrat;
    font-size: 13px;
    font-weight: 500;
    line-height: 150%; 
    padding: 0 0 10px 0;
    width: 255px;
    border: none;
    border-bottom: 1px solid var(--white);
    background: transparent;
    outline: none;
    transition: 0.3s;
}

#form .input-field:focus {
    border-bottom: 1px solid var(--lightgrey);
}

#form .input-field_width {
    width: 540px;
}

#form .input-item {
    position: relative;
    margin-bottom: 40px;
    width: 255px;
}

#form .input-item_margin {
    margin-bottom: 0;
}

#form .input-label {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    color: var(--white);
    transition: 0.3s;
}

#form .form__button {
    margin-top: 50px;
    text-decoration: none;
    color: var(--white);
    text-align: center;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    padding: 15px 30px;
    width: 540px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--white);
}

#form .input-field:focus ~ .input-label,
#form .input-field:not(:placeholder-shown) ~ .input-label {
    top: -18px;
    font-size: 12px;
    color: var(--lightgrey);
}
/* End Form section */
/* Footer section */
#footer .footer {
    height: 220px;
    background: var(--accent);
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#footer .footer__container {
    margin: 0 auto;
    width: 1110px;
}

#footer .footer__row1 {
    width: 1110px;
    height: 60px;
    flex-shrink: 0;
    gap: 60px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-top: 1px solid var(--white);
    border-bottom: 1px solid var(--white);
}

#footer .footer__row1 .row1_a {
    color: var(--white);
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
}

#footer .footer__row1 .row1_a:nth-child(1){
    margin-left: 95px;
}
#footer .footer__row1 .row1_a:nth-child(7) {
    margin-right: 95px;
}

#footer .footer__row2 {
    width: 1110px;
    height: 60px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    gap: 0px;
    border-bottom: 1px solid var(--white);
}

#footer .footer__row2 .row2-p {
    color: var(--white, #FFF);
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 600;
    line-height: 150%;
    text-transform: uppercase;
    white-space: nowrap;
}


#footer .row2-p_size {
    padding: 19px 55px 19px 95px;
}

#footer .row2-p_size2 {
    padding: 19px 58px 20px 60px;
    border-left: 1px solid var(--white);
}

#footer .row2-icon {
    height: 60px;
    padding: 19px 57px 17px 57px;
    border-left: 1px solid var(--white);
    border-right: 1px solid var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer .row2-icon img {
    width: 26px;
    height: 26px;
    margin-right: 35px;
}

#footer .row2-icon img:nth-child(3) {
    margin-right: 0px;
}

#footer .row2-p_size3 {
    padding: 19px 94px 20px 58px;
}
/* End Footer section */